<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to REDEMY</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Exo+2:wght@900&family=Lobster&family=Major+Mono+Display&family=Pacifico&family=Poppins:wght@300&family=Roboto:wght@500&family=Tilt+Neon&display=swap"
    rel="stylesheet">
  <style>
    .nav-item{
      font-family: 'Exo 2', sans-serif;
      color: black;
      cursor: pointer;
      font-size: x-large;
    }

    .navbar-brand {
      font-family: 'Exo 2', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
    }

    .carousel-inner {
      font-family: 'Exo 2', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
    }

    .carousel-item{
      font-family: 'Exo 2', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAM5JREFUSEvtlsEJAjEQRd924kGwDe1ivdmJluJRG3CPetcKBMFKRAayEMK6IZmsg5LcApO8zJ8f+A1GqzHiEoJnwMY9Zg/Ifql43Au4AafwjhAskLMrWjnoVgHujx6AtX/Pt8DCnAOPHp4CzvFDqODlJ8HSRcxwYsynq/M9o+p4B8QMJ8YUSFGpzcApv6tox2bgaq4h6SdxtdmMK3hMgf/4x3XGdca+AkVcnWKqodoFcM/JXBrwEWjH4u0Ugf4KdLFAr+kq6WxOVk4CfCp+A4m8cB/Or7pyAAAAAElFTkSuQmCC" />
    <a class="navbar-brand" href="#">REDEMY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>


  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg?w=996&t=st=1700740831~exp=1700741431~hmac=9a03f95e5849c5f852e1db8de3c26ea02617a4eda10e5e2473c8fa2418f7289e"
          class="d-block w-100" alt="1" style="object-fit: fill">
        <div class="carousel-caption d-none d-md-block">
          <h5>REDEMY</h5>
          <p>Adalah Sebuah Lembaga Pendidikan Berbasis Tentang Ilmu Komputer dan Memberikan Kursus Yang Memudahkan Anda
            Mencapai Impian dan pengalaman bekerja anda</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?w=996&t=st=1700740991~exp=1700741591~hmac=a34f584b2f75fbe91bf08a264a4893243290539f3ec55b238b3700caeed50853"
          class="d-block w-100" alt="2" style="object-fit: fill">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tentang Kami.</h5>
          <p>Dengan Motto Kami "Empowering Minds, Elevating Futures: Bridging Education and Technology" memberikan anda
            pembelajaran yang terbaik dan menyenangkan</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg?w=996&t=st=1700741013~exp=1700741613~hmac=5825f9356cc1922c7c4952749c1ab00ebb8026a4da11f28d5a4e9f4c444aedf9"
          class="d-block w-100" alt="3" style="object-fit: fill">
        <div class="carousel-caption d-none d-md-block">
          <h5>Informasi</h5>
          <p>Untuk Cek Pembelajaran kita diperlukan register dan login terlebih dahulu</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>